/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.nav-text {
    font-size: 20px;
    font-weight: bold;
}

.nav-center h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.container {
    display: flex;
    padding: 20px;
}




main {
    flex: 1;
    padding: 20px;
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.portfolio-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.portfolio-item h3 {
    margin: 0;
}

.portfolio-item button {
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

