

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #454545;
  }
  
  .registration-form {
    position: absolute;
    top: 1%;
    left: 35%;
    width: 400px;
    padding: 40px;
    background-color: #1f1f1f; /* Adjust opacity as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  .language-selector {
    margin-top: 20px;
  }
  
  .language-selector label {
    display: block;
    margin-bottom: 5px;
  }
  
  .language-selector select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }